<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Haber Ekleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-mobile-phone"></i> Mobil Uygulamalar</a></li>
                        <li class="active">Haber Ekle</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <form id="formHaberEkle" role="form" action="/haberler/ekle" method="post">
                                        <div class="box-body">
                                           <div class="row">
                                                <div class="col-md-3 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Tarih</label>
                                                        <input name="tarih" type="date" class="form-control " required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Haber Adı</label>
                                                        <input name="haberAdi" type="text" class="form-control " placeholder="Haber Adı Giriniz"  required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Haber Linki</label>
                                                        <input name="haberLinki" type="text" class="form-control " placeholder="Haber Adı Giriniz"  required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Açıklama</label>
                                                        <textarea name="aciklama" rows="3" class="form-control" style="resize:none" required placeholder="Açıklama Giriniz"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="pull-right ">
                                                        <button class="btn btn-info pull-left" data-toggle="modal" data-target="#uploadModal">Resim Yükle</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                        <input id="inpFotografListesi" name="fotograflar" style="display:none;" value="null">
                                        <input name="firmaKodu" style="display:none;" value="<%=session.kullanici.firmaKodu%>">
                                        <input name="degistiren" style="display:none;" value="<%=session.kullanici.isim%> <%=session.kullanici.soyisim%>">
                                        <div class="box-footer">
                                            <div style="text-align:center">
                                                <button id="btnReferansSubmit" type="submit" class="btn btn-primary btn-flat">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Dosya yukle</h4>
              </div>
              <form id="formResimYukle" action="/cokluyukle" enctype="multipart/form-data" method="post">
                  <div class="modal-body">
                     <label for="">Resim Yukle</label>
                     <input name="resimler" type="file" class="form-control" multiple>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Kapat</a>
                    <button id="btnSubmitModal" type="submit" class="btn btn-primary">Yukle</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <%include ../partial-pages/script.ejs%>
        <script src="../js/helper.js/Helper.js"></script>
        
    </body>
</html>