<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Bayi Ekleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-mobile-phone"></i> Mobil Uygulamalar</a></li>
                        <li class="active">Bayi Ekle</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <form  role="form" >
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Bayi Adı</label>
                                                        <input id="" type="text" class="form-control " placeholder="Bayi Adı Giriniz" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>E-Mail</label>
                                                        <input id="" type="text" class="form-control " placeholder="ornek@ornek.com" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Telefon-1</label>
                                                        <input id="" type="text" class="form-control " placeholder="Telefon-1 giriniz" data-inputmask='"mask": "(999) 999-9999"' data-mask  required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Telefon-2</label>
                                                        <input id="" type="text" class="form-control " placeholder="Telefon-2 giriniz" data-inputmask='"mask": "(999) 999-9999"' data-mask  >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>GSM </label>
                                                        <input id="" type="text" class="form-control " placeholder="GSM giriniz" data-inputmask='"mask": "(999) 999-9999"' data-mask  required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Fax</label>
                                                        <input id="" type="text" class="form-control " placeholder="Fax giriniz" data-inputmask='"mask": "(999) 999-9999"' data-mask  required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Adres</label>
                                                        <textarea cols="4" class="form-control" style="resize:vertical"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                        <div class="box-footer">
                                            <div style="text-align:center">
                                                <button type="submit" class="btn btn-primary btn-flat">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div>
        <%include ../partial-pages/script.ejs%>
        <script src="../js/helper.js/Helper.js"></script>
    </body>
</html>